@import "../../../styles/variables";
.controllers {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: start;
  padding: 5px 30px;
  height: 400px;
  width: 200px;
  &-controller {
    height: 50px;
    background-color: $color-secondary-light;
    outline: none;
    border: none;
    width: 100%;
    border-radius: 8px;
    margin-bottom: 20px;
    font-size: 1rem;
    color: $color-primary-light;
    cursor: pointer;
  }
}