@import "../../../styles/variables";

.body {
  // width: 600px;
  border-radius: 8px;
  //   padding: 20px 30px;
  //   height: 400px;
  background-color: $color-primary-dark;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 20px;
  .tokens {
    &::-webkit-scrollbar {
      display: none;
    }
    &::-webkit-scrollbar-thumb {
      background-color: rgba(0, 0, 0, 0.1); /* color of the scrollbar thumb */
      border-radius: 10px; /* border radius of the scrollbar thumb */
    }
    width: 380px;
    background-color: $color-secondary-dark;
    padding: 1px 20px;
    border-radius: 8px;
    height: 200px;
    overflow-y: scroll;
    padding-top: 10px;
    &-token {
      display: flex;
      align-items: center;
      justify-content: space-between;
      cursor: pointer;
      margin-bottom: 10px;
      padding: 3px 5px;
      border-radius: 8px;
      image {
        width: 20px;
        height: 20px;
      }
      &:hover {
        background-color: lighten($color: $color-secondary-dark, $amount: 10);
      }
      &--active {
        background-color: darken($color: $color-secondary-dark, $amount: 10);
      }
    }
  }
}
