@import "../../../styles/variables";
.controllers {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: start;
  padding: 5px 30px;
  height: 400px;
  width: 200px;
  &-controller {
    height: 50px;
    background-color: $color-secondary-light;
    outline: none;
    border: none;
    width: 100%;
    border-radius: 8px;
    margin-bottom: 20px;
    font-size: 1rem;
    color: $color-primary-light;
    cursor: pointer;
  }
}
.selected-token-details {
  background-color: $color-primary-dark;
  width: 100%;
  padding: 10px;
  min-height: 100px;
  border-radius: 8px;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  font-size: 14px;
  &__container {
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    &__row {
      display: flex;
      // flex-direction: column;
      margin-bottom: 5px;
      padding: 5px;
      align-items: center;
      font-size: 11px;
      &:not(:last-child) {
        border-bottom: 1px solid $color-primary-light;
      }
      .data {
        color: $color-secondary-light;
        // margin-left: auto;
        display: flex;
        align-items: center;
        flex: 1;
        justify-content: end;
        & > * {
          margin-left: 2px;
        }
      }
      .label {
        margin-right: 5px;
      }
    }
  }
}
