@import "../../styles/_variables.scss";
.body {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  height: 100%;
  .main {
    width: 70%;
    height: 400px;
    position: relative;
    padding: 20px 30px;
    background-color: $color-primary-dark;
    border-radius: 8px;
  }
}
.methods-list {
  width: 150px;
  height: 100%;
  overflow-y: scroll;
  overflow-x: hidden;
}
