$color-primary-dark: #161b22;
$color-primary-light: #eff6fc;
$color-secondary-light: #9317ff;
$color-secondary-dark: #0d1117;
$font-family: "Poppins", sans-serif;
$font-weight-light: 300;
$font-weight-regular: 400;
$font-weight-medium: 500;
$font-weight-semibold: 600;
$font-weight-bold: 700;
