* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
:root {
  /* Thin, gray scrollbar with round caps */
  ::-webkit-scrollbar {
    width: 5px;
    background-color: #1c202c;
  }

  ::-webkit-scrollbar-thumb {
    background-color: #888;
    border-radius: 5px;
  }

  ::-webkit-scrollbar-thumb:hover {
    background-color: #555;
  }
}
